@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

a {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.z-index999 {
  z-index: 999;
}

.dataList {
  display: flex;
  justify-content: space-around;
  li {
    display: flex;
    flex-direction: column;
  }
}

img {
  max-width: 100%;
  margin: 0 auto;
}